/* COMMON */
* {
    font-family: "Myriad Pro"!important;
}


/* Nav */
.hamburger-icon {
  height: 38px;
  width: 48px;
}

.logo {
  width: 100%;
}

.opacity {
  background-color: rgba(13,13,13,0.9);
}


.titre-header {
  font-family: 'Fjalla One'!important, sans-serif;
  padding-top: 500px;
}


/* FOOTER */

.container-fluid {
  max-width: 1575px!important;
}

.bg-footer {
  background-color: rgba(26, 26, 26);
}

.color-red-footer {
  color: #eb2525;
}

.border-bottom-title {
  border-bottom: solid 3px #eb2525;
}
.border-top-footer {
  border-top: solid 3px #eb2525;
}

.font-size-title-footer {
  font-size: 36px;
}

.border-bottom-horaires {
  border-bottom: solid 1px #eb2525;
}

.font-size-tel-footer {
  font-size: 24px;
}

.font-size-contact-footer {
  font-size: 14px;
}

.icon-mail-size {
  height: 34px;
  width: 44px;
}

.icon-tel-size {
  height: 45px;
  width: 45px;
}

.font-size-horaires {
  font-size: 18px;
}

/*CSS SERVICES*/
/*General services*/
.p-services{
  color: white;
}
.h2-services{
  color: #eb2525;
}
/*header-service*/
.header-service{
  background-image: url('image/fond-header-compressor.jpg');
  background-size: cover;
  padding: 10% 4% 10% 4%;
}
.box-services{
  display: flex;
  justify-content: space-around;
}

.box-gauche-services{
  background-color: rgba(11,11,11,0.5);
  align-self: center;
}
.domaines-services{
  background-color: rgba(11,11,11,0.5);
  align-self: flex-end;
}
.domaines-services ul{
  color: white;
  list-style: none;
}
/*Sport design*/
.sport-design-services{
  background-color: #000000;
    padding: 2em 0 2rem 2rem;
}
.sport-design-card-services{
  padding: 1em;
  text-align: center;
}
.card-services{
  background-color: #262626;
  margin: 0 10%;
}
.card-body{
  text-align: center;
}
.h5-services{
  color: #eb2525;
}
.row-sport-services{
  padding: 0 0 0 5%;
}
.line-sport-services{
  max-height: 1.5em;
  transform: translateY(8px);
}
/*utilities*/
.utilities{
  background-image: url('image/image-utilities-compressor.jpg');
  height: 100%;
  padding: 2em 0 2rem 2rem;

}
.img-utilities{
  max-width: 150px;
  max-height: 90px;
  padding: 5%;
  align-self: center;
}
.h5-utilities{
  color: #ffffff;
}
.row-utilities{
  padding-left: 5%;
}
.utilities-card{
  padding-top: 1em;
}
.fond-utilities{
  color: rgba(235, 37, 37 ,0.3)
}
.card-utilities{
  background-color: rgba(38,38,38,0.7)
}
/*CSS Mobile Services*/

/*Fin CSS Services*/

/* MEDIA QUERIES */
@media (min-width: 440px) {
  /* FOOTER */
  .mobile-button {
    display: none;
  }

  .footer-mobile {
    display: none;
  }
}

@media (max-width: 991px) {
  /* FOOTER */

  .footer-desktop {
    display: none;
  }

  .font-size-title-footer {
    font-size: 18px;
  }

  .font-size-text-horaires {
    font-size: 12px;
  }

  .font-size-contact-footer {
    12px;
  }

  .font-size-copyright {
    font-size: 8px;
  }

}
