/*General*/
p{
  color: white;
}
.h2-services{
  color: #eb2525;
}
/*header-service*/
.header-service{
  background-image: url('image/fond-header-compressor.jpg');
  background-size: cover;
  padding: 10% 4% 10% 4%;
}
.box{
  display: flex;
  justify-content: space-around;
}

.box-gauche{
  background-color: rgba(11,11,11,0.5);
  align-self: center;
}
.domaines{
  background-color: rgba(11,11,11,0.5);
  align-self: flex-end;
}
.domaines ul{
  color: white;
  list-style: none;
}
/*Sport design*/
.sport-design{
  background-color: #000000;
    padding: 2em 0 2rem 2rem;
}
.sport-design-card{
  padding: 1em;
  text-align: center;
}
.card-services{
  background-color: #262626;
  margin: 0 10%;
}
.card-body{
  text-align: center;
}
.h5-services{
  color: #eb2525;
}
.row-sport{
  padding: 0 0 0 5%;
}
.line-sport{
  max-height: 1.5em;
  transform: translateY(8px);
}
/*utilities*/
.utilities{
  background-image: url('image/image-utilities-compressor.jpg');
  height: 100%;
  padding: 2em 0 2rem 2rem;

}
.img-utilities{
  max-width: 150px;
  max-height: 90px;
  padding: 5%;
}
.h5-utilities{
  color: #ffffff;
}
.card img{
  align-self: center;
}
.row-utilities{
  padding-left: 5%;
}
.utilities-card{
  padding-top: 1em;
}
.fond-utilities{
  color: rgba(235, 37, 37 ,0.3)
}
.card-utilities{
  background-color: rgba(38,38,38,0.7)
}
